
@{
    ViewBag.Title = "HomePage";
}

<link href="~/CSS/HomePage.css" rel="stylesheet" />
<script type="text/javascript"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        //photoGallery-autoPlay
        var offset = 0;
        var timer;
        function autoPlay() {
            timer = setInterval(function () {
                offset += -10;
                //7 pictures
                if (offset <= -1540) {
                    offset = 0;
                }
                $("#photoGallery > ul").css("marginLeft", offset);
            }, 100);
        }
        autoPlay();
        //mouseenter/mouseleave
        $("#photoGallery li").hover(function () {
            clearInterval(timer);
        }, function () {
            autoPlay();
        })
    });
</script>

<!--Carousel-->
<div id="banner" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#banner" data-slide-to="0" class="active"></li>
        <li data-target="#banner" data-slide-to="1"></li>
        <li data-target="#banner" data-slide-to="2"></li>
        <li data-target="#banner" data-slide-to="3"></li>
    </ol>

    <!-- Content -->
    <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
        <div class="item active">
            <img src="~/Images/banner0.jpg" />
            <div class="carousel-caption">
                <p>Liebherr 2019 ITTF World Table Tennis Championships</p>
                <h3>Men's Singles Champion - MA Long</h3>
            </div>
        </div>
        <!-- Slide 2 -->
        <div class="item">
            <img src="~/Images/banner2.jpeg" />
            <div class="carousel-caption">
                <p>Liebherr 2019 ITTF World Table Tennis Championships</p>
                <h3>Women's Singles Champion - LIU Shiwen</h3>
            </div>
        </div>
        <!-- Slide 3 -->
        <div class="item">
            <img src="~/Images/banner3.jpg" />
            <div class="carousel-caption">
                <p>Liebherr 2019 ITTF World Table Tennis Championships</p>
                <h3>Women's Doubles Champions - SUN Yingsha and WANG Manyu</h3>
            </div>
        </div>
        <!-- Slide 4 -->
        <div class="item">
            <img src="~/Images/banner4.jpg" />
            <div class="carousel-caption">
                <p>Liebherr 2019 ITTF World Table Tennis Championships</p>
                <h3>Mixed Doubles Champions - XU Xin and LIU Shiwen</h3>
            </div>
        </div>
    </div>

    <!-- Previous/Next controls -->
    <a class="left carousel-control" href="#banner" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#banner" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!--News & Videos & Events-->
<div class="row">
    <!--News-->
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <h2>@Html.ActionLink("Latest News", "Index", "Home")</h2>
            <!--First News-->
            <a href="@Url.Action("Index", "Home")">
                <img class="w-100" src="~/Images/news1.jpg" alt="First News" />
                <div class="caption">
                    <h3>@Html.ActionLink("2020 ITTF Challenge Series: dates and locations revealed!", "Index", "Home")</h3>
                </div>
            </a>
            <!--news list-->
            <!--1st news-->
            <div class="media">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <a href="@Url.Action("Index", "Home")">
                        <img class="media-object w-100" src="@Url.Content("~/Images/news2.jpg")">
                    </a>
                </div>
                <div class="media-body">
                    <h4>@Html.ActionLink("Surprise names book second round places", "Index", "Home")</h4>
                </div>
            </div>
            <!--2nd news-->
            <div class="media">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <a href="@Url.Action("Index", "Home")">
                        <img class="media-object w-100" src="@Url.Content("~/Images/banner0.jpg")">
                    </a>
                </div>
                <div class="media-body">
                    <h4>@Html.ActionLink("Men's Singles Champion - MA Long", "Index", "Home")</h4>
                </div>
            </div>
            <!--3rd news-->
            <div class="media">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <a href="@Url.Action("Index", "Home")">
                        <img class="media-object w-100" src="@Url.Content("~/Images/banner2.jpeg")">
                    </a>
                </div>
                <div class="media-body">
                    <h4>@Html.ActionLink("Women's Singles Champion - LIU Shiwen", "Index", "Home")</h4>
                </div>
            </div>
        </div>
    </div>
    <!--Videos-->
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <h2>@Html.ActionLink("Videos", "Index", "Home")</h2>
            <!--First Video-->
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/u6AWxplF-OE" allowfullscreen></iframe>
            </div>
            <div class="caption">
                <a href="https://www.youtube.com/watch?v=u6AWxplF-OE&t=">
                    <h3 style="margin-bottom:22px;">Ma Long vs Mattias Falck</h3>
                </a>
            </div>
            <!--video list-->
            <!--1st video-->
            <div class="media">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EKgdYj-cnPo" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="media-body">
                    <a href="https://www.youtube.com/watch?v=00clUJLyd9o">
                        <h4>Liu Shiwen vs Chen Meng</h4>
                    </a>
                </div>
            </div>
            <!--2nd video-->
            <div class="media">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SCv_amI2rdM" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="media-body">
                    <a href="https://www.youtube.com/watch?v=SCv_amI2rdM">
                        <h4>Xu Xin/Liu Shiwen vs Maharu Yoshimura/Kasumi Ishikawa</h4>
                    </a>
                </div>
            </div>
            <!--3rd video-->
            <div class="media">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-Bh_yXDeb8Q" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="media-body">
                    <a href="https://www.youtube.com/watch?v=-Bh_yXDeb8Q">
                        <h4>Koki Niwa vs Liang Jingkun</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--Events-->
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <h2>@Html.ActionLink("Events", "MEvent", "Event")</h2>
            <!--June-->
            <h3 style="margin-top:10px;">June</h3>
            <ul id="eventList">
                <li>Seamaster 2019 ITTF World Tour Hang Seng Hong Kong Open, Hong Kong (HKG): 4-9 Jun</li>
                <li>ITTF Para Copa Cristina Hoffmann, Cancún (MEX): 5-7 Jun</li>
                <li>Seamaster 2019 ITTF World Tour Platinum LION Japan Open, Sapporo (JPN): 12-16 Jun</li>
                <li>ITTF Junior Circuit Golden China Junior & Cadet Open, Taicang (CHN): 12-16 Jun</li>
                <li>ITTF Junior Circuit Morocco Junior & Cadet Open, Agadir (MAR): 12-16 Jun</li>
                <li>Lithuanian Cadet and Mini Cadet Open, Vilnius (LTU): 14-16 Jun</li>
                <li>ITTF Para Egypt Open, Alexandria (EGY): 26-28 Jun</li>
                <li>ITTF African Para Championships, Alexandria (EGY): 30 Jun – 3 Jul</li>
            </ul>
        </div>
    </div>
</div>

<!--Photo Gallery-->
<div id="bottombox">
    <h1>Photo Gallery</h1>
    <div id="photoGallery">
        <ul>
            @*1-5*@
            <li>
                <img src="~/Images/banner0.jpg" />
            </li>
            <li>
                <img src="~/Images/banner3.jpg" />
            </li>
            <li>
                <img src="~/Images/banner4.jpg" />
            </li>
            <li>
                <img src="~/Images/news1.jpg" />
            </li>
            <li>
                <img src="~/Images/news2.jpg" />
            </li>
            @*6-7*@
            <li>
                <img src="~/Images/photoGallery1.jpg" />
            </li>
            <li>
                <img src="~/Images/photoGallery2.jpg" />
            </li>
            @*1-5*@
            <li>
                <img src="~/Images/banner0.jpg" />
            </li>
            <li>
                <img src="~/Images/banner3.jpg" />
            </li>
            <li>
                <img src="~/Images/banner4.jpg" />
            </li>
            <li>
                <img src="~/Images/news1.jpg" />
            </li>
            <li>
                <img src="~/Images/news2.jpg" />
            </li>
        </ul>
    </div>
</div>