<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Table Tennis For You</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/CSS/reset.css" rel="stylesheet" />
    <link href="~/CSS/Layout.css" rel="stylesheet" />
</head>
<body>
    <!--header-->
    <div class="container">
        <!--logo-->
        <div id="logo">
            <a href="@Url.Action("Index","Home")">
                <img src="~/Images/logo.jpg" />
            </a>
        </div>
        <!--navbar-->
        <nav id="mainnav" class="navbar navbar-default" role="navigation">
            <ul class="nav nav-tabs nav-justified">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("News", "Index", "Home")</li>
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Events <span class="caret"></span>
                    </a>
                    <!--dropdowns-->
                    <ul class="dropdown-menu" id="subnav">
                        <li role="presentation">@Html.ActionLink("Monthly Event", "MEvent", "Event")</li>
                        <li role="presentation">@Html.ActionLink("ITTF World Tour", "WTour", "Event")</li>
                        <li role="presentation">@Html.ActionLink("World Champions", "WChampions", "Event")</li>
                        <li role="presentation">@Html.ActionLink("Tokyo 2020", "Tokyo", "Event")</li>
                    </ul>
                </li>
                <li role="presentation">@Html.ActionLink("Videos", "Index", "Home")</li>
                <li role="presentation">@Html.ActionLink("Forum", "Index", "Home")</li>
                <li role="presentation">@Html.ActionLink("Shop", "Index", "Home")</li>
                <li role="presentation">@Html.ActionLink("Chat Room", "Index", "Home")</li>
            </ul>
        </nav>
    </div>
    <!--content-->
    <div id="bodybox">
        <div id="bodycontent">
            @RenderBody()
        </div>
    </div>
    <!--footer-->
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Table Tennis For You</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>